<!-- <div class="row m-0">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pl-0" clickColor>
        <div class="sub-box-purple curs_pointer" routerLink="/pages/list/visitors">
            <label class="big-num-wht curs_pointer">{{retailerStatus?.ticketCount || '0'}}</label>
            <p class="font-white">Book Appointment</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 p-0">
        <div class="sub-box-purple curs_pointer" routerLink="/pages/list/feedback">
            <label class="big-num-wht curs_pointer">{{retailerStatus?.feedbackCount || '0'}}</label>
            <p class="font-white">Feedback</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pr-0">
        <div class="sub-box-purple curs_pointer" routerLink="/pages/list/tickets">
            <label class="big-num-wht curs_pointer">{{retailerStatus?.visitorCount || '0'}}</label>
            <p class="font-white">Live Agent</p>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pr-0">
        <div class="sub-box-purple curs_pointer" routerLink="/pages/list/tickets">
            <label class="big-num-wht curs_pointer">85%</label>
            <p class="font-white">Appointment Conversion</p>
        </div>
    </div>
</div> -->
<div class="row m-0">

    <!-- <div class="sub-box">
      <label class="big-num">${{retailerStatus?.netPaymentReceived}}</label>
      <p>Net Payment Received</p>
    </div>
    <div class="sub-box">
      <label class="big-num">${{retailerStatus?.currentMonthPayment}}</label>
      <p>Current Month Payment</p>
    </div> -->

    <div class="col-md-12 p-0">
        <app-chart-lazy></app-chart-lazy>
    </div>





    <!-- <div class="row text-center plan-type">
  <div class="tab-head">
    <div> Week </div>
  </div>
  <div class="tab-head">
    <div> Month </div>
  </div>
  <div class="tab-head">
    <div> Year </div>
  </div>
  <div class="tab-head-borderless">
    <div>
      <span class="font-purple">Trail</span> Subscription plan
    </div>
  </div>

</div> -->

    <!-- <div class="col-12 subscription">
  <p>Subscriptions</p>

  <div class="row div-center">
    <div class="sub-con">
      <label class="big-num">{{retailerStatus?.trial}}</label>
      <p>Trials</p>
    </div>
    <div class="sub-con">
      <label class="big-num">{{retailerStatus?.active}}</label>
      <p>Active</p>
    </div>
    <div class="sub-con">
      <label class="big-num">{{retailerStatus?.deactive}}</label>
      <p>Deactive</p>
    </div>
  </div>
</div> -->