<div class="row m-0 mb-2">
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pl-3" clickColor>
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active': visitorActive}" (click)="onBookAppointMent()" [ngStyle]="{'background-color':'#fff'}">
            <!-- <label class="big-num-wht curs_pointer">{{retailerStatus?.ticketCount || '0'}}</label> -->
            <!-- <animated-digit [digit]="3000" [duration]="1000"> </animated-digit> -->
            <app-animated-digit [digit]="retailerStatus?.ticketCount" [duration]="2000"> </app-animated-digit>
            <p class="font-white">Book Appointment</p>
            <img src="assets/image/{{visitorActive?'appointment_white_76':'appointment_76'}}.png" alt="">
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pl-3">
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active1': feedbackActive}" (click)="onFeedback()" [ngStyle]="{'background-color':'#fff'}">
            <!-- <label class="big-num-wht curs_pointer">{{retailerStatus?.feedbackCount || '0'}}</label> -->
            <app-animated-digit [digit]="retailerStatus?.feedbackCount || '0'" [duration]="2000"> </app-animated-digit>

            <p class="font-white">Feedback</p>
            <img src="assets/image/{{feedbackActive?'feedback_white_76':'feedback_76'}}.png" alt="">

        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pr-3">
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active2': ticketsActive}" (click)="onLiveAgent()" [ngStyle]="{'background-color':'#fff'}">
            <!-- <label class="big-num-wht curs_pointer">{{retailerStatus?.visitorCount || '0'}}</label> -->
            <app-animated-digit [digit]="retailerStatus?.visitorCount || '0'" [duration]="2000"> </app-animated-digit>
            <p class="font-white">Live Agent</p>
            <img src="assets/image/{{ticketsActive?'live_agent_white_76':'live_agent_76'}}.png" alt="">
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 pr-3">
        <div class="sub-box-purple curs_pointer" [ngClass]="{'active3': conversionActive}" (click)="onConversion()" [ngStyle]="{'background-color':'#fff'}">

            <!-- <label class="big-num-wht curs_pointer">{{retailerStatus?.conversionCount || '0'}}</label> -->
            <!-- <app-animated-digit [digit]="retailerStatus?.conversionCount || '0'" [duration]="3000"> </app-animated-digit> -->
            <app-animated-digit [digit]="retailerStatus?.conversionCount || '0'" [duration]="2000"> </app-animated-digit><span class="f-s-25 font-weight-bold">%</span>


            <p class="font-white pr-5">Appointment <br> Conversion</p>
            <img src="assets/image/{{conversionActive?'conversion_white_76':'conversion_76'}}.png" alt="">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-5">
        
    </div>
    <div class="form-group col-5">
        

        <input readonly type="text" class="col-lg-12 col-md-12 col-sm-12 form-control outer-border" placeholder="Select Date Range" [value]="dateRangeValue" name="daterangeInput" daterangepicker #pickerDate [options]="options" (selected)="selectedDate($event, daterange)"
        />
        <i *ngIf="dateRangeValue" (click)="clearDate()" class="fa fa-times icon-caret-times"></i>
        <i (click)="pickerDate.click()" class="fa fa-calendar-alt icon-caret"></i>
    </div>
    <div class="col-2 text-center">
        
        <button class="btn btn-pri btn-pri-shadow mr-2" (click)="apply()">
            Apply
        </button>
        <button class="btn btn-sec btn-sec-shadow" (click)="clearDate()">
            Clear
        </button>
    </div>
</div>
<div class="row m-0">
    <!-- <div class="{{conversionActive || feedbackActive || ticketsActive ?'col-lg-10 col-md-10 col-sm-12':'col-lg-9 col-md-9 col-sm-12'}} "> -->
    <div class="col-lg-12 col-md-10 col-sm-12">
        <div class="chart">
            <div class="row">
                <div class="col-6">
                    
                </div>
                <div class="col-6 text-right">
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active': visitorActive && weekActive && !dateFilter, 'active1': feedbackActive && weekActive && !dateFilter,  'active2': ticketsActive && weekActive && !dateFilter,  'active3': conversionActive && weekActive && !dateFilter}" (click)="onWeek()">Week</button>
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active': visitorActive && monthActive && !dateFilter, 'active1': feedbackActive && monthActive && !dateFilter,  'active2': ticketsActive && monthActive && !dateFilter,  'active3': conversionActive && monthActive && !dateFilter}" (click)="onMonth()">Month</button>
                    <button class="btn  btn-sec btn-sec-shadow mr-2" [ngClass]="{'active': visitorActive && yearActive && !dateFilter, 'active1': feedbackActive && yearActive && !dateFilter,  'active2': ticketsActive && yearActive && !dateFilter,  'active3': conversionActive && yearActive && !dateFilter}" (click)="onYear()">Year</button>
                </div>
            </div>
            <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins">
          </canvas>
        </div>
    </div>

    <!-- <div class="{{conversionActive || feedbackActive || ticketsActive ?'col-lg-2 col-md-2 col-sm-12':'col-lg-3 col-md-3 col-sm-12'}} timeline"> -->
    <!-- <div class="col-lg-2 col-md-2 col-sm-12 timeline">
        <div class=""> -->
            <!-- <div class="domain" *ngIf="isShown">
                <h3>Domain</h3>
                <div class=" radio">
                    <input label="PWA" type="radio" id="pwa" name="domain" value="pwa" checked>
                    <input label="WhatsApp" type="radio" id="whatsapp" name="domain" value="whatsapp">
                    <input label="Both" type="radio" id="both" name="domain" value="both">
                </div>
            </div>
            <div class="domain" *ngIf="isShown">
                <h3>Language</h3>
                <div class="radio">
                    <input label="English" type="radio" id="eng" name="Lng" value="eng" checked>
                    <input label="Arabic" type="radio" id="ar" name="Lng" value="ar">
                    <input label="Both" type="radio" id="both" name="Lng" value="both">
                </div>
            </div> -->

            <!-- <div class="timline">
                <h3>Timeline</h3>
                <div class="row">
                    <div class="{{conversionActive || feedbackActive || ticketsActive ?'col-lg-12':'col-lg-4'}} m-t-2">
                    <div class="col-lg-12 m-t-2">
                        <div class="content" [ngClass]="{'active': visitorActive && weekActive, 'active1': feedbackActive && weekActive,  'active2': ticketsActive && weekActive,  'active3': conversionActive && weekActive}" (click)="onWeek()">
                            <img src="assets/image/weekly_white_76.png" alt="" srcset="">
                            <img src="assets/image/{{weekActive?'weekly_white_76':'weekly_76'}}.png" alt="" srcset="">
                            {{weekActive?'weekly_white_76':'weekly_76'}}
                            <h5>Week</h5>
                        </div>
                    </div>
                    <div class="col-md-12 m-t-2">
                        <div class="content" [ngClass]="{'active': visitorActive && monthActive, 'active1': feedbackActive && monthActive,  'active2': ticketsActive && monthActive,  'active3': conversionActive && monthActive}" (click)="onMonth()">
                            <img src="assets/image/{{monthActive?'monthly_white_76':'monthly_76'}}.png" alt="" srcset="">
                            <h5>Month</h5>
                        </div>
                    </div>
                    <div class="col-lg-12 m-t-2">
                        <div class="content" [ngClass]="{'active': visitorActive && yearActive, 'active1': feedbackActive && yearActive,  'active2': ticketsActive && yearActive,  'active3': conversionActive && yearActive}" (click)="onYear()">
                            <img src="assets/image/{{yearActive?'yearly_white_76':'yearly_76'}}.png" alt="" srcset="">
                            <h5>Year</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    </div>