<div class="row">

    <div class="col-12">
        <nav class="navbar navbar-expand-lg">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
            <div class="topnav">
                <div class="search-container">
                    <input type="text" placeholder="Search" name="search" autocomplete="off">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <div class="col-3">

        <div class="container-fluid">
            <hr class="hr-style">
            <div class="msg-content col-12">
                <p class="font-wht"> <span class="fa fa-bell p-2"></span>Notifications</p>
                <hr class="hr-style">
                <p class="purple-col">All Enterprises "Testaccount" </p>
                <div class="row user-con">
                    <div class="col-2 p-0 mar-0"><img class="user-icon" src="assets/image/men.jpg"></div>
                    <div class="col-6">
                        <h6>Chandler</h6>
                        <p class="des-font">"Testaccount6"</p>
                    </div>
                    <div class="col-4 mar-0"><button class="btn btn-pri " data-toggle="modal"
                            data-target="#exampleModal">Admin</button></div>
                </div>
                <div class="row user-con">
                    <div class="col-2 p-0 mar-0"><img class="user-icon" src="assets/image/men.jpg"></div>
                    <div class="col-6">
                        <h6>Chandler</h6>
                        <p class="des-font">"Testaccount6"</p>
                    </div>
                    <div class="col-4 mar-0"><button class="btn btn-pri " data-toggle="modal"
                            data-target="#exampleModal">Admin</button></div>
                </div>
                <div class="row user-con">
                    <div class="col-2 p-0 mar-0"><img class="user-icon" src="assets/image/men.jpg"></div>
                    <div class="col-6">
                        <h6>Chandler</h6>
                        <p class="des-font">"Testaccount6"</p>
                    </div>
                    <div class="col-4 mar-0"></div>
                </div>

            </div>

        </div>

    </div>


</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog vertical-alignment-helper" role="document">
        <div class="vertical-align-center">
            <div class="modal-content  ">
                <div class="modal-header">
                    <p class="modal-title" id="exampleModalLabel">Message</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    "Enterprises "Testaccount8" has been raised "High Priority" ticket with the description of "System Down"
                </div>
                <div class="modal-body-2">
                   <p><i class="fa fa-calendar"></i>22-09-2020 08:08 PM</p>
                   <p><i class="fa fa-user"></i>Mathew Perry</p>
                </div>
                <div class="modal-footer">
                <div class="col-12">
                    <div class="col-3 text-left">
                    <button type="button" class="remove-bg trash-btn" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-trash">&nbsp;Delete</i>
                    </button>
                    </div>
                    <div class="col-12 text-right">
                        <button type="button" class="btn cancel-btn">Cancel</button>
                    </div>  
                </div>
                
                </div>
            </div>
        </div>
    </div>
</div>  